<div class="row col-lg-12">
    <div class="mx-auto title-blog d-flex justify-content-center title-color">
        <h2> Our Recent Blog</h2>
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card card-2">
      <img class="card-img-top card-img" src="https://www.vilasgaikwad.com/img/weeklyimg/20200920_082059.jpg" alt="Card image cap">
      <h3>UI Components</h3>
      <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
        of mobile UI components, ready to go.</p>
        <a href="#" class="btn bg-button-color2">Go somewhere</a>
        <small class="text-muted">9 minutes ago</small>
    </div>
  </div>
<div class="col-md-4">
  <div class="card card-2">
    <img class="card-img-top card-img" src="https://www.vilasgaikwad.com/img/weeklyimg/20200418_140412.jpg " alt="Card image cap">
    <h3>UI Components</h3>
    <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
      of mobile UI components, ready to go.</p>
      <a href="#" class="btn bg-button-color2">Go somewhere</a>
      <small class="text-muted">9 minutes ago</small>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-2">
    <img class="card-img-top card-img" src="https://www.vilasgaikwad.com/img/weeklyimg/20200418_140412.jpg " alt="Card image cap">
    <h3>UI Components</h3>
    <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
      of mobile UI components, ready to go.</p>
      <a href="#" class="btn bg-button-color2">Go somewhere</a>
      <small class="text-muted">9 minutes ago</small>
  </div>
</div>
</div>