    <!-- Features Section -->
    <div class="row bg-light">
        <div class="col-lg-4">
          <h2 class="">Art Of the Week</h2>
          <p>The Modern Business template by Start Bootstrap includes:</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid rounded " src="http://placehold.it/1000x500" alt="">
        </div>
        <div class="col-lg-4 border border-primary bg-white">
          <h3>#ads</h3>
          <img class="img-fluid rounded center" src="http://placehold.it/1000" alt="">
        </div>
    </div>
      <!-- /.row -->