    <!-- Features Section -->
    <div class="row art-bg-color">
        <div class="col-lg-4">
          <h2 class="title-color">Art Of the Week</h2>
          <p>The Modern Business template by Start Bootstrap includes:</p>
          <p><a class="btn bg-button-color2  btn-sm" href="#" role="button">Show more &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid rounded " src="https://www.vilasgaikwad.com/img/weeklyimg/20200920_082059.jpg" alt="">
        </div>
        <div class="col-lg-4 border border-primary bg-white">
       
          <img class="img-fluid rounded center" src="http://placehold.it/1000" alt="">
        </div>
    </div>
      <!-- /.row -->