<div class="container margin-top">
  <div class="row">
    <div class="col-md-4 col-marging">
      <div class="box">
        <figure class="c4-izmir c4-border-bottom-left c4-image-rotate-right c4-gradient-bottom-right ">
          <img src="https://www.vilasgaikwad.com/img/landscape/landscape4.jpg" alt="Sample Image">
          <figcaption>
            <div class="c4-rotate-up-left">
              <h3>
                Photo Gallery
              </h3>
            </div>
          </figcaption>

        </figure>
      </div>
    </div>
    <div class="col-md-4 col-marging">
      <div class="box">
        <figure class="c4-izmir c4-image-blur c4-border-ccc-3 ">
          <img src="https://www.vilasgaikwad.com/img/landscape/landscape4.jpg" alt="Sample Image">
          <figcaption>
            <div class="c4-rotate-down-left">
              <h3>
                Video Gallery
              </h3>
            </div>
          </figcaption>

        </figure>
    </div>
    </div>
  </div>
</div>

<div class="container margin-top">
  <app-blog-cards></app-blog-cards>
</div>
