/* You can add global styles to this file, and also import other style files */
.bg-color {
    background-color: #ffffff;
}

.bg-button-color {
    background-color: #FF550B;
    color: #EDF2EF;
    border-radius: 50px;
}
.title-color {
    
    color: #FF550B;
}

.bg-button-color2{

    color: #FF550B;
    border-radius: 50px;
}

.bg-button-color2:hover{
    background-color: #FF550B;
    color: #EDF2EF;
}