<div class="jumbotron bg-image">
  <div class="container ">
    <div class="row">
    <div class="col-lg-6" style="background-color: rgba(255, 255, 255, 0.5);">
        <h1 class="display-3 text-white main-title"> Arts</h1>
        <p><a class="btn bg-button-color  btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h3 class="display-5 text-white">Latest Video</h3>
     <!-- <img class="img-fluid rounded" src="http://placehold.it/700x450" alt=""> -->
     <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jnvglyJAqhM"
      frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <app-artof-week></app-artof-week>
</div>
<div class="container margin-top">
  <app-blog-cards></app-blog-cards>
</div>
<div class="container margin-top">
  <app-home-gallery></app-home-gallery>
</div>

