
.bg-image{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-cartoon-photo-wall-wall-painting-color-wall-painting-image_14909.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
}

.main-title{
    font-weight: bold;
}


